name: Terraform for Azure DevOps pipeline

on:
  push:
    branches: [main]
    paths: ["azure-devops/**"]

jobs:
  azure-devops:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: brpaz/hadolint-action@master
        with:
          dockerfile: ./azure-devops/Dockerfile

      - name: Build and push Docker images for Azure DevOps
        uses: docker/build-push-action@v1
        with:
          path: ./azure-devops
          username: vietnem
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: vietnem/terraform
          tags: 0.14.3-azure-devops, 0.14-azure-devops
