name: Terraform with Python

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: ["python3.8/**"]

jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: brpaz/hadolint-action@master
        with:
          dockerfile: ./python3.8/Dockerfile

      - name: Build and push Docker images
        uses: docker/build-push-action@v1
        with:
          path: ./python3.8
          username: vietnem
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: vietnem/terraform
          tags: 0.14.3-python3.8.7, 0.14.3-python3.8, 0.14-python3.8
